<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/css/styles.css">
      <title>404 Error</title>
</head>
<body>
      <div class="wrapper">
            <div id="upper">
                  {{>header}}
                  <p>{{error}}</p>
            </div>
            
            <div id="footer">
                  {{>footer}}
            </div>
      </div>
</body>
</html>