<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="/css/styles.css">
      <title>About</title>
</head>

<body>
      <div class="wrapper">
            <div id="upper">
                  {{>header}}
                  <img class="portrait" src="img/me.jpg" alt="Mugshot">
                  <p>This website was developed using Node.js and vanilla Javascript by {{name}}</p>
            </div>
            
            <div id="footer">
                  {{>footer}}
            </div>
      </div>
</body>

</html>