<header>
      <div>
            <h1>{{title}}</h1>
      </div>      
            <a href="/" class={{homeClassName}}>Weather</a>
            <a href="/about" class={{aboutClassName}}>About</a>
            <a href="/help" class={{helpClassName}}>Help</a>
</header>

