@import url('https://fonts.googleapis.com/css?family=Lato:400,900&display=swap');

* {
      box-sizing: border-box;
}

body {
      display: block;
      font-family: 'Lato';
      color: #383838;
      margin-left: 4%;
      margin-right: 4%;
      max-width: 650px;
}

h1{
      font-weight: 900;
      font-size: 4em;
      padding: 0px;
      margin-bottom: 10px;
}

@media screen and (max-width: 650px) {
      h1 {
            font-weight: 900;
            font-size: 3em;
            padding: 0px;
            margin-bottom: 10px;
      }
}

header{
      border: transparent solid 1px;
      border-bottom: solid 3px #a3a1a1;
      padding-bottom: 10px;
      margin-bottom: 20px;
}

header a{
      color: #a3a1a1;
      text-decoration: none;
      padding-right: 8px; 
      transition: 0.3s ease-in;
      font-size: 15px;
}

header a:hover{
      color: #535252;
}

.wrapper {
      display: flex;
      flex-direction: column;
      min-height: 95vh;
}

#upper {
      flex-grow: 1;
}

.portrait {
      width: 300px;
}

.active{
      color: #535252;
      font-weight: 800;
}

#upper .data{
      padding-top: 8vh;
      padding-bottom: 5vh;
}

.loader{
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top: 2px solid #202020;
      animation: loaderAnim 0.8s infinite;
}

.nestedLoader{
      min-width: 15px;
      min-height: 15px;
      margin: 0 auto;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top: 2px solid #202020;
      animation: loaderAnim 0.6s infinite;
}

.inactive {
      display: none;
}

@keyframes loaderAnim{
      from{
            transform: rotate(0deg);
      } to {
            transform: rotate(360deg);
      }
}

input{
      margin-top: 20px;
      border: 1px solid transparent;
      border-bottom: 1px solid #a3a1a1;
      color: #202020;
      padding: 5px;
}

button{
      padding: 5px;
      border: none;
      color: #f0f0f0;
      background-color: #383838;
      cursor: pointer;
}

button:hover{
      background-color: #202020;
}

#error{
      font-weight: 600;
      color: rgb(221, 48, 48);
}

#message-1{
      font-size: 30px;
      font-weight: 800;
}

#message-2{
      font-size: 16px;
}

@media screen and (max-width: 650px) {
      #message-1 {
            font-size: 25px;
            font-weight: 800;
      }

      #message-2 {
            font-size: 14px;
      }
}

footer {
      border: transparent solid 1px;
      border-top: solid 3px #a3a1a1;
      padding-top: 0px;
      margin-top: 20px;
      color: #a3a1a1;
}

